asn1crypto==0.24.0
autopep8==1.5.4
Cheetah==2.4.4
click==7.1.2
cryptography==2.1.4
enum34==1.1.6
Flask==1.1.2
Flask-SQLAlchemy==2.4.4
gunicorn==19.10.0
gyp==0.1
idna==2.6
ipaddress==1.0.17
itsdangerous==1.1.0
Jinja2==2.11.2
keyring==10.6.0
keyrings.alt==3.0
libvirt-python==4.0.0
MarkupSafe==1.1.1
pycairo==1.16.2
pycodestyle==2.6.0
pycrypto==2.6.1
pygobject==3.26.1
pyxdg==0.25
SecretStorage==2.3.1
six==1.11.0
SQLAlchemy==1.3.19
toml==0.10.1
Werkzeug==1.0.1
