
{% extends 'base.html' %}


{% block body %} 
<!-- ALL HTML WILL GO HERE -->

    <!-- Page Content -->
    <div class="page-heading header-text">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h1>Contact Us</h1>
              <span>feel free to send us a message now!</span>
            </div>
          </div>
        </div>
      </div>
  
      <div class="contact-information">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="contact-item">
                <i class="fa fa-phone"></i>
                <h4>Phone</h4>
                <p>Give us a Call on.</p>
                <a href="#">(+27)78 449 9072</a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="contact-item">
                <i class="fa fa-envelope"></i>
                <h4>Email</h4>
                <p>Feel free to send us an email and a sales rep will get back to you.</p>
                <a href="#">royalcartraders@gmail.com</a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="contact-item">
                <i class="fa fa-map-marker"></i>
                <h4>Location</h4>
                <p>73 Lupaard street, krugersdorp, <br>  East krugersdorp, 1743</p>
                <a href="/">View on Google Maps</a>
              </div>
            </div>
          </div>
        </div>
      </div>
  
  
  
    
  
    

{% endblock %}
